.App {
  margin-top: 20px;
  text-align: center;
}

body {
  background-color: cornsilk;
}

.form {
  margin: 20px;
  padding: 20px;
  border: 2px solid blue;
  font-size: 22px;
}

button {
  margin: 20px;
  padding: 10px;
  border-radius: 25px;
  background-color: honeydew;
  font-weight: bolder;
}